.metodo-bg {
  background-color: #000;
}
.container-metodo {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
}

.texto-metodo {
  position: relative;
  justify-items: right;
}

.texto-metodo h2 {
  margin-left: 100px;
  font-weight: 400;
  margin-bottom: 40px;
}



.img-metodo img {
  max-width: 500%;
  margin-left: -240px;
}


.metodo-item {
  margin-right: 90px;
  margin-left: 90px;
  max-width: 500px;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.metodo-item:hover {
  background-color: #ff2c64;
  border-radius: 5px;
  box-shadow: 0 0 15px 10px rgba(255, 44, 100, 0.6); /* Sombra com cor */
  transform: scale(1.05); /* Aumenta levemente o item */
}

.metodo-item::before {
  content: ""; 
  display: inline-block;
  width: 10px; /* Largura do check */
  height: 20px; /* Altura do check */
  border: solid #c2f738; /* Define a cor do check */
  border-width: 0 4px 4px 0; /* Mantém apenas as bordas necessárias */
  transform: rotate(45deg); 
  margin-right: 30px; /* Espaço entre o ícone e o texto */
}

@media (max-width:820px) {
  .container-metodo {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .metodo-item {
    margin-bottom: 10px;
  }
  .metodo-item,
  .texto-metodo h2 {
    margin-right: 0px;
    margin-left: 0px;}
  .img-metodo img {
    max-width: 100%;
    margin-left: -20px;
  }
  .container-metodo {
    grid-template-columns: 1fr;
  }
  .texto-metodo {
    min-width: 200px;
    justify-items: center;
    margin-top: -50px;
  }
  .texto-metodo h2{
    border-radius: 5px;
    padding: 10px 5px;
    text-align: center;
  }
  .texto-metodo {
    justify-items: center;
  }
  
}