.plano-bg {
  background-color: #111;
}
.container-plano {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.container-botao {
  padding-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dec-botao-1 {
  position: absolute;
}

.dec-botao-1::before {
  position: absolute;
  content: "";
  display: flex;
  width: 80px;
  height: 80px;
  background-image: url("https://cdn.pixabay.com/photo/2013/07/12/12/56/cursor-146588_960_720.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10% 85%;
}

@media (max-width: 600px) {
  .container-botao {
    padding-top: 20px;
  }
  .dec-botao-1::before {
    width: 50px;
    height: 50px;
    margin: 6% 83%;
  }
  .dec-botao-1 {
    font-size: 1.3rem;
  }
}
