.assinatura-bg {
  background-color: #000;
  padding-bottom: 40px;
  box-shadow: 0px -15px 5px #000;
}

.container-assinatura {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 140px;
}

.div-botao a {
  font-size: 3rem;
}

.div-botao p {
  margin-top: 10px;
  text-align: center;
}

.combo a {
  background-color: #000;
  border: solid 2px #ff2c64;
}

.div-botao a:hover {
  background-color: #ff2c64;
  box-shadow: 0 0 15px 10px rgba(255, 44, 100, 0.6); /* Sombra com cor */
  transition: box-shadow 0.3s ease;
}

@media(max-width: 1000px) {
  .div-botao a {
    font-size: 2rem;
  }
  .div-botao p {
    font-size: 0.7rem;
  }
}
@media(max-width: 820px) {
  .container-assinatura {
    margin-top: 40px;
    display: flex;
    gap: 30px;}
}
@media(max-width: 400px) {
  .div-botao a {
    font-size: 1rem;
  }
  .div-botao p {
    font-size: 0.5rem;
  }
  .container-assinatura {
    margin-top: 40px;
    display: flex;
    gap: 20px;}
}