.app-bg {
  background-color: #000;
  padding-top: 80px;
  background-image: url('/imagens/tablet.png');
  background-position: 100% center;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}

.container-app {
  max-width: 1200px;
  padding-right: 0px;
}

.conteudo-app {
  margin-right: 400px;
}
.titulo-app {
  margin-bottom: 40px;
}
.conteudo-app article {
  margin-right: 220px;
  margin-bottom: 20px;
}

.dispo-em {
  display: flex;
}
.dispo-img a img {
  width: 260px;

}


@media (max-width: 1500px) {
  .app-bg {
    background-image: url('/imagens/tablet.png');
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 70%;
    padding-bottom: 300px;
  }
}